/* リセット・基本 */
*{
    box-sizing:border-box;
}

body{
    background-color:#1f1f1f;
    color:white;
    font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;
    margin:0;
}

html{
    scroll-behavior:smooth;
}

.container{
    max-width:900px;
    margin:0 auto;
    padding:20px;
}

/* 見出し */
h2{
    margin-bottom:10px;
}

/* セクション */
section{
    margin-bottom:30px;
}

/*検索ボックス*/
.search-box{
    position:relative;
    margin-top:10px;
}

#searchInput{
    padding:6px;
    border-radius:6px;
    border:none;
}

#searchResults{
    position:absolute;
    background:#2a2a2a;
    width:200px;
    border-radius:6px;
    margin-top:4px;
}

#searchResults div{
    padding:6px;
}

#searchResults a{
    color:white;
    text-decoration:none;
}